@import 'mixins.scss';
@import 'variable.scss';


.table{
  overflow-x: auto;
  border-left: 1px solid $border_color;
  border-right: 1px solid $border_color;
  .t-head{
    display: flex;
    justify-content: start;
    height: 30px;
    
  }

  .title-body{
    height: fit-content;
  }

  .title{
    display: flex;
    border-bottom: 1px solid $border_color;
    min-height: 30px;
    .block{
      position: relative;
      display: flex;
      justify-content: space-between;
      text-align: center;
      width: 180px;
      min-width: 50px;
      height: inherit;
      border-right: 1px solid $border_color;
      margin: 0;
      padding: 0;
      min-height: 30px;
      .title-block{
        align-self: center;
        justify-items: center;
        width: inherit;
        min-width: 50px;
        height: inherit;
        min-height: 30px;
        padding: 3px;
      }

      .col{
        position: absolute;
        left: 100%;
        z-index: 99;
        border: 1px solid transparent;
        height: 0px;
        transition: border 0.2s;
        cursor: col-resize;
         &:hover{
          border: 1px solid rgb(148, 209, 229);
         }
         &:active{
          border: 1px solid rgb(148, 209, 229);
         }
      }
    }
  }

  .t-main{
    display: flex;
    min-height: 30px;
  }

  .index{
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid $border_color;
    text-align: center;
    border-right: 1px solid $border_color;
    width: 38px;
    min-height: 30px;
    background-color: #d0cfcf2b;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .row{
      position: absolute;
      top: 100%;
      z-index: 99;
      cursor: row-resize;
      border: 1px solid transparent;
      width: inherit;
      align-self: center;
      transition: border 0.2s;

       &:hover{
        border: 1px solid rgb(148, 209, 229);
       }

       &:active{
        border: 1px solid rgb(148, 209, 229);
       }
    }
  }

  .bg{
    background-color: white;
  }
}
