@import 'mixins.scss';
@import 'variable.scss';


.table{
  overflow-x: auto;
  border-left: 1px solid $border_color;
  border-right: 1px solid $border_color;

 
  .t-head{
    display: flex;
    justify-content: start;
    height: 30px;
  }

  .title{
    display: flex;
    border-bottom: 1px solid $border_color;
    .title-block{
      background-color: #d0cfcf2b;
      text-align: center;
      width: 180px;
      height: inherit;
      border-right: 1px solid $border_color;
    }
  }

  .t-main{
    display: flex;
    height: 30px;
    border-bottom: 1px solid $border_color;
  }

  .index{
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid $border_color;
    text-align: center;
    border-right: 1px solid $border_color;
    width: 38px;
    background-color: #d0cfcf2b;
  }
}
